section#home-wrap {
	.page-content {
		position: relative;
		.box-wrap {
			position: relative;
			top: -110px;
			background: #fff;
			box-shadow: 0px 0px 42px -8px rgba(0,0,0,0.75);
			margin: 0px 10% auto;
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				li {
					flex: 1;
					padding: 20px;
					display: flex;
					flex-direction: column;
					align-items: baseline;
					justify-content: flex-start;
					p.step {
						border-radius: 50%;
						color: #fff;
						width: 30px;
						height: 30px;
						text-align: center;
						padding-top: 3px;
					}
					p.header {
						font-size: 22px;
						font-weight: 700;
					}
					p.sub-header {
						font-size: 18px;
						color: #a79e9b;
					}
					&:first-child {
						border-top: 5px solid #0fcbf0;
						p.step {
							background-color: #0fcbf0;
						}	
						p.header {
							color: #0fcbf0;
						}
					}
					&:nth-child(2) {
						border-top: 5px solid #ff7355;
						border-left: 1px solid rgba(255, 115, 85, .25);
						border-right: 1px solid rgba(255, 115, 85, .25);
						p.step {
							background-color: #ff7355;
						}	
						p.header {
							color: #ff7355;
						}
					}
					&:last-child {
						border-top: 5px solid #e8d174;
						p.step {
							background-color: #e8d174;
						}	
						p.header {
							color: #e8d174;
						}
					}
				}
			}
		}
	}
}