   .step-view {
        color: #6d6d6d;
        background: #ffffff;
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 30px;
        font-family: 'PT Sans';
        .comment {            
            font-size: 30px;
            text-align: center;
        }
        .main-content {
            margin-top: 30px;
        }
    }