td {
	&.bold {
		font-weight: bold;
	}
	&.in-progress {
		color: #bc702d !important;
	}
	&.complete {
		color: #3f761a !important;
	}
	&.failed {
		color: #ab4646 !important;
	}
	&.actions {
		color: #d53333 !important;
		padding: 20px 0px !important;
		i {
			margin: 0px 10px;
			&:hover {
				cursor: pointer;
			}
		}
	}
}


.ReactModal__Content{
	border-radius: 5px;
	top: 200px !important;
    left: 35% !important;
    right: 35% !important;
	bottom: unset !important;
	padding: 0px !important;
	@media (max-width:1250px)
	{
		top: 200px !important;
		left: 30% !important;
		right: 30% !important;
		bottom: unset !important;
		padding: 0px !important;
	}
	@media (max-width:950px)
	{
		top: 200px !important;
		left: 25% !important;
		right: 25% !important;
		bottom: unset !important;
		padding: 0px !important;
	}
	@media (max-width:770px)
	{
		top: 200px !important;
		left: 20% !important;
		right: 20% !important;
		bottom: unset !important;
		padding: 0px !important;
	}
	@media (max-width:620px)
	{
		top: 0px !important;
		left: 100px !important;
		right: 100px !important;
		bottom: unset !important;
		padding: 0px !important;
	}
	@media (max-width:445px)
	{
		top: 0px !important;
		left: 50px !important;
		right: 50px !important;
		bottom: unset !important;
		padding: 0px !important;
	}
	#modal{

		#heading-modal{
			padding: 20px;
			background-color: rgba(45,172,209,.85);
			
			p{
				margin: 0px;
				color: #fff;
			}
			.close{
				color: #fff;
				opacity: 1;
			}
		}
		#body-modal{
			padding: 20px;	
			p{
				margin: 0px;
			}
		}
		#btn-modal{
			float: right;
			margin-right: 20px;
			margin-bottom: 20px;
			:hover{
				opacity: 0.8
			}
			button{
				width: 90px;
				height: 35px;
				background: #092b4f;
				color: #fff;
				border-radius: 5px;
				border: 1px;

			}
			#btn-cancel{
				margin-left: 20px;
			}
		}
		
	}
}