#logo {
	font-family: "PT Sans";
	font-size: 40px;
	font-weight: 700;
	p {
		color: #6c5c58;
		margin-bottom: 0px;
		span {
			color: #ff7355;
		}
	}
}

#image-logo {
	font-family: "PT Sans";
	font-size: 30px;
	font-weight: 700;
	p {
		color: white;
		margin-bottom: 0px;
		span {
			color: #ff7355;
		}
	}
}