section#signup-wrap {
	background-color: #e6e6e6;
	display: flex;
	justify-content: center;
	align-items: center;
	.signup-box {
		width: 450px;
		margin: 0 auto;
		padding: 20px;
		h2{
			text-align: center
		}
		p{
			text-align: center
		}
		.btn-group{
			width: 100%;
			button{
				height: 40px;
				width: 50%;
				background-color: #c4bebc;
				&:hover, &:active{
					background-color: #092b4f
				}
			}
			button.active{
				background-color: #092b4f;
				color: white
			}
		}
		.btn-submit{
			width: 100%;
			background-color: #092b4f;
			border-color: #092b4f;
		}
		.bt-ship{
			
		}
	}
}	

